@model CustomerDetails

<h2>Id Proof</h2>

<div style="max-width: 100%; height: auto;">
    <img src="@Model.IdProof" alt="Id Proof Image" style="width: 60%; height: 50%;" />
    <a style="margin-top:4px" asp-controller="CustomerDetail" asp-action="Index" class="btn btn-dark"><i class="bi bi-backspace"></i> Back</a>
</div>
